*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins"
}

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar, .navbar > .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .navbar, .navbar > .container {
        display: block;
   }
}
.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #020323;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
}
@media (min-width: 576px) {
    .navbar .container {
        max-width: 540px;
   }
}
@media (min-width: 768px) {
    .navbar .container {
        max-width: 720px;
   }
}
@media (min-width: 992px) {
    .navbar .container {
        max-width: 960px;
   }
}
@media (min-width: 1200px) {
    .navbar .container {
        max-width: 1140px;
   }
}
.navbar .navbar-header {
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .navbar .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
   }
}
.navbar .navbar-header .navbar-toggler {
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
}
@media (max-width: 768px) {
    .navbar .navbar-header .navbar-toggler {
        display: block;
   }
}
.navbar .navbar-header .navbar-toggler span {
    height: 2px;
    width: 22px;
    background-color: #929aad;
    display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
    margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
    font-weight: 500;
    color: #3c4250;
}
.navbar .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}
@media (max-width: 768px) {
    .navbar .navbar-menu {
        display: none;
        text-align: center;
   }
}
.navbar .navbar-menu.active {
    display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav {
        width: 100%;
        display: block;
        border-top: 1px solid #eee;
        margin-top: 1rem;
   }
}
.navbar .navbar-menu .navbar-nav > li > a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
    color: #66f;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav > li > a {
        border-bottom: 1px solid #eceef3;
   }
}
.navbar .navbar-menu .navbar-nav > li.active a {
    color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    list-style: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    z-index: 99999;
    border-radius: 0.75rem;
    display: none;
}
@media (max-width: 768px) {
    .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
        position: relative;
        box-shadow: none;
   }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
    color: #3c4250;
    padding: 0.25rem 1rem;
    display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
    display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
    height: 1px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #eceef3;
}
.navbar .navbar-dropdown {
    position: relative;
}
.navbar .navbar-header > a span {
    color: #66f;
}
.navbar .navbar-header h4 {
    font-weight: 500;
    font-size: 1.rem;
}
@media (max-width: 768px) {
    .navbar .navbar-header h4 {
        font-size: 1.05rem;
   }
}





.main-container{
   
    text-transform: uppercase;
    margin-top: 9vh;
    letter-spacing: 7px;
    font-size: 3.8rem;
    text-align: center
}
.main-container p{
    color: rgb(109, 109, 109);
}
.description p{
    width: 80vw;
    text-align: justify;
    margin: 3vh 2.3vw;
    color: rgb(31, 28, 28);
}
.cards{
    margin-left: 3vw;
    margin-right: 3vw;
    margin: 12vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-img{
    margin-top: 4vh;
    width: 150px;
    border-radius: 80px;
}

.one{
    background-color: #f91942;
    color: white;
    flex-wrap: wrap;
    width: 450px;
    border: 2px solid  #f91942;
    border-radius: 10px;
    height: 550px;
    cursor: pointer;
}
.two{
    background-color: #f91942;
    color: white;
    flex-wrap: wrap;
    width: 450px;
    border: 2px solid  #f91942;
    border-radius: 10px;
    height: 550px;
    cursor: pointer;
}
.div-description{
    text-align: center;
}
.div-description h1{
    margin: 5vh 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
}
.view{
    cursor: pointer;
    margin-top: 10vh;
    height: 56px;
    width: 200px;
    font-size: 1.45rem;
    color: white;
    background-color: rgb(42, 42, 241);
    border: 1px solid white;
    box-shadow: 0 7px 8px 0 #66f;
    font-family: "Poppins";
    text-transform: uppercase;
    border-radius: 5px;
}
.view:hover{
    background-color: #66f;
}
.views{
    cursor: pointer;
    margin-top: 10vh;
    height: 56px;
    width: 200px;
    font-size: 1.45rem;
    color: white;
    background-color: rgb(42, 42, 241);
    border: 1px solid white;
    box-shadow: 0 7px 8px 0 #66f;
    font-family: "Poppins";
    text-transform: uppercase;
    border-radius: 5px;
}
.views:hover{
    background-color: #66f;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1200px){
    .one{
        margin-right: 6vw;
    }
}
@media screen and (max-width: 997px){
    .one{
        width: 500px;
    }
    .two{
        width: 500px;
    }
}
@media screen and (max-width: 980px){
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-left: 0px

    }
    .one{
        margin-bottom: 11vh;
        margin-right: 0px;
        
    }
}
@media screen and (max-width: 667px){
    .one{
        margin-left: 6vw;
    }
    .two{
        margin-left: 6vw;
    }
}
@media screen and (max-width: 584px){
    .one{
        margin-left: 10vw;
    }
    .two{
        margin-left: 10vw;
    }
}
.sub-heading{
    margin-top: 3vh;
    text-align: center;
    font-family: "Poppins";
    font-weight: normal;
    text-transform: uppercase ;
    letter-spacing: 3px;
    font-size: 2.8rem;
    color: rgb(71, 70, 70);
}
.links{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divs-img{
    border-radius: 20px;
    cursor: pointer;
    width: 10vw;
}
.github{
    width: 45px;
}
.email{
    width: 18vw ;
}
@media screen and (max-width: 800px){
    .divs-img{
        width: 12vw;
    }
    .email{
        width: 20vw;
    }
}
@media screen and (max-width: 523px){
    .divs-img{
        width: 80px;
    }
    .email{
        width: 122px;
    }
}
.footer{
    text-align: center;
    margin: 2vh 0px;
    font-size: 2rem;
    color: #3c4250;
}





